@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#header {

    width: 100%;
    height: 10%;

    position: fixed;
    top: 0;
    left: 0;

    background: white;
    z-index: 99;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;

    background-color: rgba(241, 196, 15, 0.8);

}


#header > img {

    height: 50%;

}

.headerlink {
    position: absolute;
    z-index: 10;
    height: 60%;
    top: 20%;
    right: 20px;
    padding: 2px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0;
}

#linktoformbutton {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 8px;
    background-color: rgba(241, 196, 15, 0.8);
    box-shadow: 2px 2px 5px #555555;
    padding: 0 25px;
    font-size: 12px;
    font-family: 'Permanent Marker', cursive;
}


#map {

    position: absolute;
    top: 0;
    left: 0;

    width:100%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Permanent Marker', cursive;

    background-color: #f1c40f;

}

#map > img {

    width: 40%;

}