@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/* Clear user agent stylesheet */
html {
  box-sizing: border-box;
  /*setup rems*/
  font-size: 64.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

input[type="submit"] {
  border: none;
}

/* Layout */
body.center {
  background: rgba(228, 196, 95, 0.7);
  /*linear-gradient(rgba(228, 196, 95,0.7), rgb(61, 84, 47));*/
}

.full {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow:column;
}

.form{
  display:flex;
  justify-content: center;
  align-content: center;
  padding-top: 10rem;
}

.header{
  display:flex;
  align-content: center;
  justify-content: center;
  height:10%;
  background-color:rgba(228, 196, 95,0.7);
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  padding-top:10px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .2)
}

.yerrabi-logo{
  height:5rem;
}

form {
  display: grid;
}

form input {
  margin-top: 5px;
  padding: 10px;
  background-color: rgb(235, 208, 120);
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 40px;
}

.box {
  margin-top: 15px;
  border-color: #F7CC48;
  background-color: rgba(228, 196, 95, 0.7);
  color: rgb(41, 39, 39);
  font-size: 1rem;
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
}

.box .box {
  margin: 10px;
  background-color: rgb(251, 251, 246);
}

.file-input{
  margin-left:auto;
  margin-right:auto;
}